.profile-back {
  /*background-color: #9b1f1f;*/
  height: 150px;
  margin-bottom: -75px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

.profile-card {
  text-align: center;
  margin-bottom: 15px;
}

.profile-name {
  line-height: 100%;
  height: 40px;
  background-color: rgb(248,110,69);
  color: #fff;
  font-family: 'Actor', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0;
  border-radius: 100px;
  max-width: 320px;
  margin: 0 auto 10px auto;
}

.profile-card .social-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.profile-card .social-list li {
  display: inline;
  margin: 0 5px;
  /*background-color: #9b1f1f;*/
  /*color: #fff;*/
  /*padding: 10px;*/
  /*border-radius: 100%;*/
}

.profile-bio {
  margin-bottom: 10px;
  padding: 10px;
}

.profile-card .social-list li i {
  background-color: #9b1f1f;
  color: #fff;
  padding: 10px 11px;
  border-radius: 100%;
}

.login-clean {
  padding: 80px 0;
  height: 100vh;
}

.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0,172,216,0.67);
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: #f86e45;
}

.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.login-clean form .btn-primary {
  background: #e6a756!important;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #e95c2d!important;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

html {
  overflow-y: scroll;
}

body {
<<<<<<< Updated upstream
  background: url("../../assets/img/bg.jpg") center / cover no-repeat, linear-gradient(180deg, rgb(122,101,70) 0%, rgb(255,255,255));
=======
  background: url("../../assets/img/bgDraw.jpg") center / cover no-repeat, linear-gradient(180deg, rgb(122,101,70) 0%, rgb(255,255,255));
>>>>>>> Stashed changes
  height: 100vh;
  overflow-y: scroll;
}

.bodyLoginRegister {
  background: url("../../assets/img/bgLoginRegister.jpg") center / cover no-repeat, linear-gradient(180deg, rgb(122,101,70) 0%, rgb(255,255,255));
  height: 100vh;
  overflow-y: scroll;
}

.btn:not(:disabled):not(.disabled) {
  background-color: rgb(248,110,69)!important;
  border-color: rgb(233,92,45);
}

body::-webkit-scrollbar {
  display: none;
}

.text-primary.site-heading-upper.mb-3 {
  color: rgb(248,110,69)!important;
  font-weight: 400;
}

.footer.text-faded.text-center.py-5 {
  background-color: rgba(80,36,25,.9);
}

#mainNav {
  background-color: rgba(45,49,66,.9);
}

.form-control {
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.btnAddPost {
  width: 66%;
  margin: auto;
  height: 50px;
}

.inputAddPost {
  width: 66%;
  border: 1px solid rgb(248,110,69);
  border-radius: 5px;
  margin: auto;
}

.custom-file-to-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.page-section.cta {
  background-color: rgba(232,103,65,.7);
}

.mainNav {
  background-color: rgba(45,49,66,.9);
  font-family: Raleway;
}

.forgot {
  color: white !important;
}

<<<<<<< Updated upstream

=======
.site-heading{
  color: black !important;
}

.img-custom{
  height: 33vh;
  background-color:rgba(45,49,66,.9);
}

html, body{
  height: 100vh!important;
  overflow-y: scroll;
}
>>>>>>> Stashed changes
